body {
  font-family: Arial, sans-serif;
  background: #e0f7fa;
  text-align: center;
}

.card {
  background: white;
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: #4caf50;
  color: white;
  font-size: 16px;
}

.hidden {
  display: none;
}
